---
import BrandLogo from './BrandLogo.astro';
import LinkUnderline from './LinkUnderline.astro';

const pathname = Astro.url.pathname;
const isHome = pathname === '/';
const isWork = pathname.startsWith('/work');
---

<div class="home-hero__brand">
  <BrandLogo />

  <nav class="home-hero__nav items-end justify-end" aria-label="Primary navigation">
    <LinkUnderline label="Home" state={isHome ? 'active' : 'inactive'} href="/" />
    <LinkUnderline label="Work" state={isWork ? 'active' : 'inactive'} href="/work" />
    <!-- <LinkUnderline label="About" state="inactive" href="/" /> -->
    <LinkUnderline
      label="Let's Talk"
      state="inactive"
      href="https://wa.me/51942676263"
    />
  </nav>

  <div class="home-hero__lang" aria-label="Language selector">
    <LinkUnderline label="Linkedin" state="inactive" href="https://www.linkedin.com/in/davidrivadeneyra/" newPage />
    <LinkUnderline label="TikTok" state="inactive" href="https://www.tiktok.com/@darivadeneyra" newPage />
    <LinkUnderline label="Instagram" state="inactive" href="https://www.instagram.com/davidrivadeneyra/" newPage />
  </div>
</div>
