<span class="grid-lines" aria-hidden="true">
  <span class="grid-lines__line grid-lines__line--third"></span>
  <span class="grid-lines__line grid-lines__line--sixth"></span>
  <span class="grid-lines__line grid-lines__line--ninth"></span>
</span>
